<!--archivo de la pagina de planning-->
{% extends "plantilla.html" %}

{% block content %}
    <section class="container-fluid">
        <nav class="navbar">
            <h1>{% block title %}Plannings{% endblock %}</h1>
            <a href="{{ url_for('planning.crear_planning') }}" class="btn btn-success">Nueva</a>
        </nav>

        <table class="table">
            <thead>
                <tr>
                    <th class="col">ID</th>
                    <th class="col">autor</th>
                    <th class="col">ID sesiones</th>
                    <th class="col">fecha</th>
                    <th class="col">titulo</th>
                    <th class="col">descripcion</th>
                    <th class="col">num_sesiones</th>
                    <th class="col">confidencial</th>
                    {% if mostrar_acciones %}
                    <th class="col">Editar</th>
                    <th class="col">Eliminar</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for planning in planning | reverse %}
                <!--FALTARIA EL ID DEL EJERCICIO-->
                <tr>
                    <td>
                        <p>{{ planning.id }}</p>
                    </td>
                    <td>
                        <p>{{ planning.autor }}</p>
                    </td>
                    <td>
                        <p>{{ planning.sesiones_ids or '' }}</p>
                    </td>
                    <td>
                        <p>{{ planning.fecha.strftime('%Y-%m-%d') }}</p>
                    </td>
                    <td>
                        <p>{{ planning.titulo }}</p>
                    </td>
                    <td>
                        <p>{{ planning.descripcion }}</p>
                    </td>
                    <td>
                        <p>{{ planning.num_sesiones }}</p>
                    </td>
                    <td>
                        <p>{{ 'Sí' if planning.confidencial else 'No' }}</p>
                    </td>
                    {% if mostrar_acciones %}
                    <td>
                        {% if planning.autor == g.usuario.alias %}
                        <a href="{{ url_for('planning.editar_planning', id=planning.id) }}" class="btn btn-info btn-sm">Editar</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if planning.autor == g.usuario.alias %}
                        <a href="{{ url_for('planning.eliminar_planning', id=planning.id) }}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}