<!--archivo de la pagina de sesiones-->
{% extends "plantilla.html" %}

{% block content %}
    <section class="container-fluid">
        <nav class="navbar">
            <h1>{% block title %}Sesiones{% endblock %}</h1>
            <a href="{{ url_for('sesiones.crear_sesion') }}" class="btn btn-success">Nueva</a>
        </nav>

        <table class="table">
            <thead>
                <tr>
                    <th class="col">ID</th>
                    <th class="col">autor</th>
                    <th class="col">ID ejercicios</th>
                    <th class="col">fecha</th>
                    <th class="col">titulo</th>
                    <th class="col">descripcion</th>
                    <th class="col">duración</th>
                    <th class="col">confidencial</th>
                </tr>
            </thead>
            <tbody>
                {% for sesion in sesiones | reverse %}
                <!--FALTARIA EL ID DEL EJERCICIO-->
                <tr>
                    <td>
                        <p>{{ sesion.id }}</p>
                    </td>
                    <td>
                        <p>{{ sesion.autor }}</p>
                    </td>
                    <td>
                        <p>{{ sesion.idEjercicio }}</p>
                    </td>
                    <td>
                        <p>{{ sesion.fecha }}</p>
                    </td>
                    <td>
                        <p>{{ sesion.titulo }}</p>
                    </td>
                    <td>
                        <p>{{ sesion.descripcion }}</p>
                    </td>
                    <td>
                        <p>{{ sesion.duracion }}</p>
                    </td>
                    <td>
                        <p>{{ 'Sí' if sesion.confidencial else 'No' }}</p>
                    </td>
                    <td>
                        <a href="{{ url_for('sesiones.editar_sesion', id=sesion.id) }}" class="btn btn-info btn-sm">Editar</a>
                    </td>
                    <td>
                        <a href="{{ url_for('sesiones.eliminar_sesion', id=sesion.id) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}